<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/register.css">
</head>

<body>
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <center> <b id="login-name">SIGN-UP Here </b> </center>

        <div class="row">
            <div class="col-md-6 col-md-offset-3" id="login">
                <form>
                    <div class="form-group">
                        <label class="user"> Username: </label>
                        <input type="text" class="form-control" id="text1" name="tl" placeholder=" Username">
                    </div>
                    <div class="form-group">
                        <label class="user"> Password: </label>
                        <input type="email" class="form-control" id="text2" name="tl" placeholder=" Password">
                    </div>
                    <div class="form-group">
                        <label class="user"> Age: </label>
                        <input type="text" class="form-control" id="text2" name="tl" placeholder=" Enter your mobile Number">
                    </div>
                    <div class="form-group">
                        <label class="user"> Password: </label>
                        <input type="text" class="form-control" id="text2" name="tl" placeholder=" Enter Password">
                    </div>
                    <div class="form-group label_001">
                        <label class=""> Gender: </label>
                        <label class="radio-inline"><input type="radio" name="optradio">Male</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Female</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Other</label>
                    </div>
                    <div class="form-group label_001">
                        <label class=""> Gender: </label>
                        <label class="radio-inline"><input type="radio" name="optradio">Male</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Female</label>
                        <label class="radio-inline"><input type="radio" name="optradio">Other</label>
                    </div>
                    <div class="form-group label_001">
                        <label class=""> HyperTension: </label>
                        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
                        <label class="radio-inline"><input type="radio" name="optradio">No</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="submit" style="border-radius:0px;">
                        <input type="reset" class="btn btn-danger" value="Reset" style="border-radius:0px;">
                    </div>
                    <br /><br /><br />
                    <a href="#" style="color: white; font-size: 15px; float: right; margin-right: 10px;"> Forget
                        Password </a>
                    <a href="#" style="color: white; font-size: 15px; float: right; margin-right: 10px;"> Register </a>
                </form>

                <link href="https://snatchbot.me/sdk/webchat.css" rel="stylesheet" type="text/css"><script src="https://snatchbot.me/sdk/webchat.min.js"></script><script> Init('?botID=28729&appID=ZccN1sRvfz9TEuRFJmMA', 600, 600, 'https://dvgpba5hywmpo.cloudfront.net/media/image/iITFbbXk00IS9WXgdtirDD3In', 'bubble', '#00AFF0', 90, 90, 62.99999999999999, '', '0', '#FFFFFF', ); /* for authentication of its users, you can define your userID (add &userID={login}) */ </script>

            </div>
        </div>
    </div>
</body>

</html>